@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --spacing-1xl: 86.25rem;
  --breakpoint-xs: 30rem;
  --font-dm: "DM Sans", sans-serif;
}
